# Ignore development files and directories
/node_modules
/tests
/src
/templates
/.vscode

# Ignore configuration files
*.config.js
*.config.ts
tsconfig.json

# Ignore linter files
.eslintrc
.prettierrc.json

# Ignore bash files
*.sh

# Ignore source control files
.git/
.gitignore
.gitattributes

# Ignore miscellaneous files
.env
.DS_Store
Thumbs.db
